@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #F7FBEE; }

main {
  background-color: #739D2E; }

header {
  display: flex;
  justify-content: space-between;
  background-color: #F7FBEE; }
  header img {
    width: fit-content;
    height: fit-content; }

@media (max-width: 991px) {
  .navbar-brand {
    width: 80%;
    display: flex; }
    .navbar-brand img {
      width: 80%; } }

footer {
  background-color: #739D2E;
  text-decoration-color: black;
  padding-top: 5px;
  padding-bottom: 4px; }
  footer .container {
    text-align: center;
    font-size: medium;
    line-height: 50%; }
    footer .container p {
      font-size: 12px; }
      footer .container p a {
        color: #0c0c0c;
        text-decoration: none; }

.slider-box {
  width: 1280px;
  height: 86vh;
  margin: 0 auto 0;
  overflow: hidden; }
  .slider-box ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 10s infinite alternate ease-in-out; }
    .slider-box ul li {
      width: 100%;
      list-style: none;
      position: relative; }
      .slider-box ul li img {
        width: 100%;
        object-fit: cover; }

@keyframes slide {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }

@media (max-width: 991px) {
  .slider-box {
    width: 100%;
    height: 50vh; } }

/*.............................................................................*/
.Bloque2 {
  width: 100%;
  background-color: #F7FBEE;
  padding: 20px; }
  .Bloque2 .seccionintro {
    background-color: #F6EDD9;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 80%;
    margin: 15px auto;
    border-radius: 15px; }
    .Bloque2 .seccionintro img {
      width: 200px; }
    .Bloque2 .seccionintro h1 {
      margin: 0;
      text-align: center; }
    .Bloque2 .seccionintro p {
      margin-left: 50px;
      margin-right: 50px;
      text-align: justify;
      padding: 20px;
      font-size: 20px; }
  @media (max-width: 991px) {
    .Bloque2 .seccionintro {
      width: 100%;
      padding: 0; }
      .Bloque2 .seccionintro img {
        display: none; } }

/*............................................................................*/
.seccionpasos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F7FBEE; }
  .seccionpasos .TituloPasos {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    text-align: center; }
  .seccionpasos .cardcontainer {
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto; }
    .seccionpasos .cardcontainer .Card {
      width: 100%;
      margin: 20px;
      border-radius: 15px;
      text-align: center;
      overflow: hidden;
      background: white;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
      transition: all 400ms ease-out;
      cursor: default; }
      .seccionpasos .cardcontainer .Card:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%); }
      .seccionpasos .cardcontainer .Card img {
        width: 50%;
        height: 50%;
        object-fit: contain;
        object-position: center; }
      .seccionpasos .cardcontainer .Card h2 {
        padding-top: 10px; }
      .seccionpasos .cardcontainer .Card h3 {
        padding-top: 30px;
        font-weight: lighter; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .seccionpasos .cardcontainer {
      flex-wrap: wrap; }
    .seccionpasos .Card {
      margin: 15px; } }

/*...............................................................................*/
.SeccionServicios {
  padding: 40px 0;
  background: #F7FBEE;
  color: black;
  text-align: center; }
  .SeccionServicios .pesta単a2 {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px; }
    .SeccionServicios .pesta単a2 .border {
      width: 160px;
      height: 5px;
      background-color: #739D2E;
      margin: 26px auto; }
  .SeccionServicios .CardPaquete {
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto; }
    .SeccionServicios .CardPaquete .Card2 {
      width: 100%;
      margin: 20px;
      border-radius: 15px;
      text-align: center;
      overflow: hidden;
      background: #F6EDD9;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
      transition: all 400ms ease-out;
      cursor: default; }
      .SeccionServicios .CardPaquete .Card2:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%); }
      .SeccionServicios .CardPaquete .Card2 a {
        display: inline-block;
        padding: 10px;
        margin-top: 10px;
        text-decoration: none;
        color: #739D2E;
        border: 1px solid #739D2E;
        border-radius: 4px;
        transition: all 400ms ease;
        margin-bottom: 5px; }
        .SeccionServicios .CardPaquete .Card2 a:hover {
          background: #739D2E;
          color: #fff; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .SeccionServicios .CardPaquete {
      flex-wrap: wrap; }
    .SeccionServicios .Card2 {
      margin: 15px; } }
  .SeccionServicios .EleccionPack {
    width: 60%;
    display: flex;
    flex-direction: row;
    margin: auto; }
    .SeccionServicios .EleccionPack .Cont_img {
      width: 40%;
      margin: 20px; }
      .SeccionServicios .EleccionPack .Cont_img img {
        object-fit: contain;
        width: 80%;
        height: 80%;
        margin: auto; }
    .SeccionServicios .EleccionPack .ContServicios {
      width: 60%;
      margin: 20px;
      align-items: center;
      justify-content: center; }
      .SeccionServicios .EleccionPack .ContServicios h2 {
        text-align: center; }
      .SeccionServicios .EleccionPack .ContServicios p {
        text-align: justify; }
      .SeccionServicios .EleccionPack .ContServicios .ContPrecios {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        flex-direction: column;
        color: black;
        margin-bottom: 5px;
        margin-top: 5px; }
        .SeccionServicios .EleccionPack .ContServicios .ContPrecios .Precio1 {
          width: 100%;
          display: flex;
          flex-direction: row;
          border: 1px solid #9DA48E;
          border-radius: 4px;
          transition: all 400ms ease;
          margin: 5px;
          padding-top: 10px;
          padding-left: 10px; }
          .SeccionServicios .EleccionPack .ContServicios .ContPrecios .Precio1 .PrecioIzq {
            width: 70%;
            font-weight: lighter; }
          .SeccionServicios .EleccionPack .ContServicios .ContPrecios .Precio1 .PrecioDer {
            width: 30%;
            font-weight: bolder; }
        .SeccionServicios .EleccionPack .ContServicios .ContPrecios .BotonCar {
          text-align: center; }
          .SeccionServicios .EleccionPack .ContServicios .ContPrecios .BotonCar a {
            display: inline-block;
            padding: 10px;
            margin-top: 10px;
            text-decoration: none;
            color: #739D2E;
            border: 1px solid #739D2E;
            border-radius: 4px;
            transition: all 400ms ease;
            margin-bottom: 5px; }
            .SeccionServicios .EleccionPack .ContServicios .ContPrecios .BotonCar a:hover {
              background: #739D2E;
              color: #fff; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .SeccionServicios .EleccionPack {
      width: 80%; }
      .SeccionServicios .EleccionPack .Cont_img {
        display: none; }
      .SeccionServicios .EleccionPack .ContServicios {
        width: 100%; }
        .SeccionServicios .EleccionPack .ContServicios .Precio1 {
          padding: 0; } }

.Testimonios {
  padding: 40px 0;
  background: #F7FBEE;
  color: black;
  text-align: center; }
  .Testimonios .TestCliente {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px; }
    .Testimonios .TestCliente .border {
      width: 160px;
      height: 5px;
      background-color: #739D2E;
      margin: 26px auto; }
    .Testimonios .TestCliente .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .Testimonios .TestCliente .row .col {
        flex: 33.3%;
        max-width: 33.3%;
        box-sizing: border-box;
        padding: 15px; }
        .Testimonios .TestCliente .row .col .Testimonio {
          background: #fff;
          padding: 30px; }
          .Testimonios .TestCliente .row .col .Testimonio img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%; }
          .Testimonios .TestCliente .row .col .Testimonio .name {
            font-size: 20px;
            text-transform: uppercase;
            margin: 20px 0; }
          .Testimonios .TestCliente .row .col .Testimonio .stars {
            color: #739D2E;
            margin-bottom: 20px; }
      @media screen and (max-width: 960px) {
        .Testimonios .TestCliente .row .col {
          flex: 100%;
          max-width: 80%; } }
      @media screen and (max-width: 600px) {
        .Testimonios .TestCliente .row .col {
          flex: 100%;
          max-width: 100%; } }

.seccionNosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #F7FBEE;
  width: 1280px;
  margin: 0 auto 0;
  overflow: hidden; }
  .seccionNosotros .bloque4 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%; }
    .seccionNosotros .bloque4 .pesta単a1 {
      max-width: 1200px;
      margin: auto;
      overflow: hidden;
      padding: 20px 20px; }
      .seccionNosotros .bloque4 .pesta単a1 .border {
        width: 160px;
        height: 5px;
        background-color: #739D2E;
        margin: 26px auto; }
    .seccionNosotros .bloque4 .CuadrosInformativos {
      width: 100%;
      background-color: #F7FBEE;
      padding: 20px; }
      .seccionNosotros .bloque4 .CuadrosInformativos .CuadroInfo1 {
        width: 70%;
        display: flex;
        background: #F6EDD9;
        justify-content: space-between;
        margin-left: 25%;
        padding: 40px;
        border-radius: 15px; }
        .seccionNosotros .bloque4 .CuadrosInformativos .CuadroInfo1 img {
          width: 200px; }
        .seccionNosotros .bloque4 .CuadrosInformativos .CuadroInfo1 h1 {
          margin: 0;
          text-align: center; }
        .seccionNosotros .bloque4 .CuadrosInformativos .CuadroInfo1 p {
          margin-left: 50px;
          margin-right: 50px;
          text-align: justify;
          padding: 20px;
          font-size: 20px; }
      @media (max-width: 991px) {
        .seccionNosotros .bloque4 .CuadrosInformativos .CuadroInfo1 {
          width: 100%;
          padding: 0;
          margin-left: 0; }
          .seccionNosotros .bloque4 .CuadrosInformativos .CuadroInfo1 img {
            display: none; } }
      .seccionNosotros .bloque4 .CuadrosInformativos .CuadroInfo2 {
        width: 70%;
        display: flex;
        background: #F6EDD9;
        justify-content: space-between;
        margin-left: 5%;
        margin-top: 20px;
        padding: 40px;
        border-radius: 15px; }
        .seccionNosotros .bloque4 .CuadrosInformativos .CuadroInfo2 img {
          width: 200px; }
        .seccionNosotros .bloque4 .CuadrosInformativos .CuadroInfo2 h1 {
          margin: 0;
          text-align: center; }
        .seccionNosotros .bloque4 .CuadrosInformativos .CuadroInfo2 p {
          margin-left: 50px;
          margin-right: 50px;
          text-align: justify;
          padding: 20px;
          font-size: 20px; }
      @media (max-width: 991px) {
        .seccionNosotros .bloque4 .CuadrosInformativos .CuadroInfo2 {
          width: 100%;
          padding: 0;
          margin-left: 0; }
          .seccionNosotros .bloque4 .CuadrosInformativos .CuadroInfo2 img {
            display: none; } }

@media (max-width: 991px) {
  .seccionNosotros {
    width: 100%; } }

.bg-bodynav {
  background-color: #F7FBEE; }
  .bg-bodynav .navbar {
    background-color: #739D2E; }

.ContenidoIs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
  background: #F7FBEE; }
  .ContenidoIs .cuadroIs {
    background: #F6EDD9;
    padding: 5px;
    border: 5px;
    text-decoration: #6c757d;
    text-align: left;
    width: 25rem; }
    .ContenidoIs .cuadroIs .logo {
      display: flex;
      justify-content: center;
      margin-top: 20px; }
      .ContenidoIs .cuadroIs .logo img {
        height: 5rem; }
    .ContenidoIs .cuadroIs .recordar {
      display: flex;
      justify-content: space-between;
      margin-top: 3px; }
      .ContenidoIs .cuadroIs .recordar .botoncheck {
        display: flex;
        align-items: center;
        gap: 1px; }
        .ContenidoIs .cuadroIs .recordar .botoncheck div {
          padding-top: 1px;
          font-size: 0.9rem; }
      .ContenidoIs .cuadroIs .recordar .Recuperar {
        padding-top: 2px; }
        .ContenidoIs .cuadroIs .recordar .Recuperar a {
          text-decoration: none;
          font-weight: bold;
          font-style: italic;
          font-size: 0.9rem;
          color: #739d2e; }
    .ContenidoIs .cuadroIs .btn-p {
      background-color: #739D2E; }
    .ContenidoIs .cuadroIs .CuentaNueva {
      display: flex;
      gap: 3px;
      justify-content: center;
      margin-top: 6px; }
      .ContenidoIs .cuadroIs .CuentaNueva a {
        text-decoration: none;
        font-weight: bold;
        color: #739D2E; }
