*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F7FBEE;
}

.header-index{
    display: flex;
    justify-content: space-between;
    
}

/*.navBar{
    display: flex;
    gap: 40px;
    list-style-type: none;
    padding: 30px 40px;

}

.navBar li a{
    text-decoration: none;
    color:black;
    font-size: 30px;
    
}


.familia div img{
    width: 100%;
    height: 100%;
    

}
*/
/* styles para la pagina iniciarsesion.html*/

.bodyContainerIs{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 12% 73% 15%;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

.bodyContainerIs header{
    grid-area: header;
}

.navBarIs{
    display: flex;
    justify-content: right;
    gap: 40px;
    list-style-type: none;
    position: relative;
    padding-top: 5%;
}
.navBarIs li a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding: 30px 40px;
}

.bodyContainerIs main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
}
.mainContainer img{
    width: 100%;
    height: 100%;
    grid-column: 1/9;
    grid-row: 1/9;
}


.bodyContainerIs footer{
    grid-area: footer;
    background-color: #739D2E;
    color: #0F223D ;
}