main{
    display: flex;
    height: auto;
    margin-top: 2px;
    .Portada{
        display: flex;
        justify-content: center;
        img{
            width: fit-content;
            height: fit-content;

        }
    }
    .Intro{
        display: flex;
        align-items: center;
    }
}