.container-index{
    display: grid;
    img{
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.seccionintro{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: map-get($map: $colores, $key: color3);
    .bloque3{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        .img-intro{
            width: 30%;
            img{
                object-fit: cover;
                width: 80%;
                height: 80%;
            }
        }
        .texto-intro{
            display: flex;
            flex-direction: column;
            width: 70%;
            justify-content: center;
            align-items: center;
            align-content: center;
            padding: 10% 10%;
            img{
                position: absolute;
                object-fit: cover;
            }  
            h1{
                align-content: center;
                position: relative;
            }
            p{
                font-size: 18px;
                margin-top: 20px;
                text-align: justify;
                position: relative;
            }
        }
    }
}

.seccionpasos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: map-get($map: $colores, $key: color3);
    .TituloPasos{
        width: 100%;
        max-width: 1080px;
        margin: auto;
        padding: 20px;
        margin-top: 20px;
        text-align: center;
    }
    .cardcontainer{
        width: 100%;
        display: flex;
        max-width: 1100px;
        margin: auto;
        .Card{
            width: 100%;
            margin: 20px;
            border-radius: 15px;
            text-align: center;
            overflow: hidden;
            background: white;
            box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
            transition: all 400ms ease-out;
            cursor: default;
            &:hover{
            box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
            transform: translateY(-3%);
            }
            img{
                width: 50%;
                height: 50%;
                object-fit: contain;
                object-position: center;
            }
            h2{
                padding-top: 10px;
            }
            h3{
                padding-top: 30px;
                font-weight: lighter;
            
            }
        }
    }
    @media only screen and (min-width:320px) and (max-width:768px){
        .cardcontainer{
            flex-wrap: wrap;
        }
        .Card{
            margin: 15px;
        }
    }
}

.SeccionServicios{
    width: 100%;
    display: flex;
    flex-direction: center;
    justify-content: left;
    align-items: center;
    background: map-get($map: $colores, $key: color3);
    .bloqueServicios{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 100%;
        margin-top: 20px;
        .pestaña2{
            padding: 20px;
            width: 30%;
            margin-bottom: 20px;
            background: map-get($map: $colores, $key: color2);
            text-align: center;
            color: white;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
        .CardPaquete{
            width: 100%;
            display: flex;
            max-width: 1100px;
            margin: auto;
            .Card2{
                width: 100%;
                margin: 20px;
                border-radius: 15px;
                text-align: center;
                overflow: hidden;
                background: map-get($map: $colores, $key: color4);
                box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
                transition: all 400ms ease-out;
                cursor: default;
                &:hover{
                box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
                transform: translateY(-3%);
                }
                a{
                    display: inline-block;
                    padding: 10px;
                    margin-top: 10px;
                    text-decoration: none;
                    color: map-get($map: $colores, $key: color2);
                    border: 1px solid #739D2E;
                    border-radius: 4px;
                    transition: all 400ms ease;
                    margin-bottom: 5px;
                    &:hover{
                        background:map-get($map: $colores, $key: color2);
                        color: #fff;
                    }
                }
            }
        }
        @media only screen and (min-width:320px) and (max-width:768px){
            .CardPaquete{
                flex-wrap: wrap;
            }
            .Card2{
                margin: 15px;
            }
        }
        .EleccionPack{
            width: 60%;
            display: flex;
            flex-direction: row;
            margin: auto;
            .Cont_img{
                width: 40%;
                margin: 20px;
                img{
                    object-fit: contain;
                    width: 80%;
                    height: 80%;
                    margin: auto;
                }
            }
            .ContServicios{
                width: 60%;
                margin: 20px;
                align-items: center;
                justify-content: center;
                h2{
                    text-align: center;
                }
                p{
                    text-align: justify;
                }
                .ContPrecios{
                    width: 100%;
                    padding: 10px;
                    margin-top: 10px;
                    flex-direction: column;
                    color: black;
                    margin-bottom: 5px;
                    margin-top: 5px;
                    .Precio1{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        border: 1px solid #9DA48E;
                        border-radius: 4px;
                        transition: all 400ms ease;
                        margin: 5px;
                        padding-top: 10px;
                        padding-left: 10px;
                        .PrecioIzq{
                            width: 70%;
                            background-color: white;
                            font-weight: lighter;
                            
                        }
                        .PrecioDer{
                            width: 30%;
                            background-color: white;
                            font-weight: bolder;
                        }
                    }
                    .BotonCar{
                        text-align: center;
                        a{
                            display: inline-block;
                            padding: 10px;
                            margin-top: 10px;
                            text-decoration: none;
                            color: map-get($map: $colores, $key: color2);
                            border: 1px solid #739D2E;
                            border-radius: 4px;
                            transition: all 400ms ease;
                            margin-bottom: 5px;
                            &:hover{
                                background:map-get($map: $colores, $key: color2);
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.Testimonios{
    padding: 40px 0;
    background:map-get($map: $colores, $key: color3);
    color: black;
    text-align: center;
    .TestCliente{
        max-width: 1200px;
        margin: auto;
        overflow: hidden;
        padding: 0 20px;
        .border{
            width: 160px;
            height: 5px;
            background-color: white;
            margin: 26px auto;
        }
        .row{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .col{
                flex: 33.3%;
                max-width: 33.3%;
                box-sizing: border-box;
                padding: 15px;
                .Testimonio{
                    background: #fff;
                    padding: 30px;
                    img{
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                    .name{
                        font-size: 20px;
                        text-transform: uppercase;
                        margin: 20px 0;
                    }
                    .stars{
                        color: #739D2E;
                        margin-bottom: 20px;
                    }
                }
            }
            @media screen and (max-width:960px) {
                .col{
                    flex: 100%;
                    max-width: 80%;
                }   
            }
            @media screen and (max-width:600px) {
                .col{
                    flex: 100%;
                    max-width: 100%;
                }   
            }
        }
    }
}



