
.seccionNosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: map-get($map: $colores, $key: color3);
    width: 1280px;
    margin: 0 auto 0;
    overflow: hidden;
    .bloque4{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 100%;
        .pestaña1{
            max-width: 1200px;
            margin: auto;
            overflow: hidden;
            padding: 20px 20px;
            .border{
                width: 160px;
                height: 5px;
                background-color:map-get($map: $colores, $key: color2);
                margin: 26px auto;
            }
        } 
        .CuadrosInformativos{
            width: 100%;
            background-color: map-get($map: $colores, $key: color3);
            padding: 20px;
            .CuadroInfo1{
                width: 70%;
                display: flex;
                background: map-get($map: $colores, $key: color4);
                justify-content: space-between;
                margin-left: 25%;
                padding: 40px;
                border-radius: 15px;
                img{
                        width: 200px;
                }
                h1{
                    margin: 0;
                    text-align: center;
                }
                p{
                    margin-left: 50px;
                    margin-right: 50px;
                    text-align: justify;
                    padding: 20px;
                    font-size: 20px;
                }
            }
            @media(max-width:991px) {

                .CuadroInfo1{
                    width: 100%;
                    padding: 0;
                    margin-left: 0;
                    h1{
                        font-size: 20px;
                    }
                    img{
                        display: none;
                    }
                    p{
                        font-size: 12px;
                    }
                }
                
            }    
            .CuadroInfo2{
                width: 70%;
                display: flex;
                background: map-get($map: $colores, $key: color4);
                justify-content: space-between;
                margin-left: 5%;
                margin-top: 20px;
                padding: 40px;
                border-radius: 15px;
                img{
                        width: 200px;
                }
                h1{
                    margin: 0;
                    text-align: center;
                }
                p{
                    margin-left: 50px;
                    margin-right: 50px;
                    text-align: justify;
                    padding: 20px;
                    font-size: 20px;
                }
            }
            @media(max-width:991px) {

                .CuadroInfo2{
                    width: 100%;
                    padding: 0;
                    margin-left: 0;
                    h1{
                        font-size: 20px;
                    }
                    img{
                        display: none;
                    }
                    p{
                        font-size: 12px;
                    }
                }
                
            } 
        }
    }
}
@media(max-width:991px) {

    .seccionNosotros{
        width: 100%;
    }
}