
$colores: (
    color1: #9DA48E,
    color2: #739D2E,
    color3: #F7FBEE,
    color4: #F6EDD9
);




body{
    background-color: #F7FBEE;
}
header{
    display: flex;
    justify-content: space-between;
    img{
        width: fit-content;
        height: fit-content;
    }
}
footer{
    background-color: #739D2E;
    text-decoration-color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-bottom: 4px;
    .container{
        text-align: center;
        font-size: medium;
        line-height: 50% ;
        p{
            font-size: 12px;
            a{
                color: #0c0c0c;
                text-decoration: none;
            }
        }
    }
}